body {
    background-image: url(mangabackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin: auto 100px;
}
header{
    text-align: center;
}
h1 {
    font-size: 50px;
    background-color: #ff7200;
    padding: 40px;
    border: 3px solid black;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
input {
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid black;
    font-size: 20px;
}
#offset {
    margin-right: 20px;
}
label {
    color: white;
    font-size: 40px;
}
#get-data {
    height: 30px;
    width: 80px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 7px;
    border: 3px solid black;
    cursor: pointer;
}
#get-data:hover {
    background-color: black;
    color: white;
}
#mangalist {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
#mangalist #container{
    height: 300px;
    width: 48.5%;
    margin: 2px auto;
    background-color: #2a524a;
    border: 5px solid black;
    display: flex;
    padding: 5px 5px 3px 5px;
    border-radius: 4px;
    overflow: hidden;
}
#mangalist #container #mangaText {
    margin-left: 20px;
}
#mangalist #container #mangaText h3 , #mangalist #container #mangaText p{
    color: white;
}
img {
    width: 200px;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
p {
    font-size: 15px;
}
